extends layout

block content
  h1 #{title}
  p(style='white-space:pre;')
    | The way how to success on your day. Calculate your margin and get your
    | Enjoyable profit by setting the inputs down here.

  br
  form
    table(width="50%")
      tr
        td 
          label Cost
        td
          input(id='cost', placeholder='RM')
      tr
        td 
          label Margin
        td
          input(id='margin', placeholder='%')
      tr
        td 
          label Markup
        td
          input(id='markup', placeholder='%')
      tr
        td 
          label Revenue
        td
          input(id='revenue', placeholder='RM')
      tr
        td 
          label Profit
        td
          input(id='profit', placeholder='RM')   
    br
    .ui.button(name="button", onclick="calc()")
      | Calculate
    button.ui.yellow.button(input type='reset')
      | Clear  

  script.
    function calc(){

      var p1,p2,p3,p4,p5;
      p1 = document.getElementById('cost').value;
      p2 = document.getElementById('margin').value;
      p3 = document.getElementById('markup').value;
      p4 = document.getElementById('revenue').value;
      p5 = document.getElementById('profit').value;

      var cost=0;
      cost = p1;
      var markup = 0;
      markup = p3;
      var profit = 0;
      profit= p1*p3/100;
      var revenue = 0;
      revenue = parseInt(profit)+parseInt(cost);
      var margin = 0;
      margin = profit/revenue*100;

      document.getElementById('cost').value=cost
      document.getElementById('margin').value=margin;
      document.getElementById('markup').value=markup;
      document.getElementById('revenue').value=revenue;
      document.getElementById('profit').value=profit;
    }
  
  
